<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhld.insInsuranceservice.mapper.PermissionMapper">
	<select id="findAll" resultType="com.xhld.insInsuranceservice.model.SysPermission">

		SELECT * from Sys_permission ;
	</select>

	<select id="findByAdminUserId" parameterType="int"
		resultType="com.xhld.insInsuranceservice.model.SysPermission">
		select p.*
		from sys_user u
		LEFT JOIN sys_role_user sru on u.id= sru.sys_user_id
		LEFT JOIN sys_Role r on sru.sys_role_id=r.id
		LEFT JOIN sys_permission_role spr on spr.sys_role_id=r.id
		LEFT JOIN sys_permission p on p.id =spr.sys_permission_id
		where u.id=#{userId}
	</select>
</mapper>