<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xhld.authenticationservice.mapper.UserMapper">
	<!-- <sql id="Base_Column_List" > id, userName, passWord, user_sex, nick_name 
		</sql> <select id="getAll" resultType="com.xhld.insInsuranceservice.model.SysUser" 
		> SELECT <include refid="Base_Column_List" /> FROM users </select> <select 
		id="getOne" parameterType="java.lang.Long" resultType="com.xhld.insInsuranceservice.model.SysUser"> 
		SELECT <include refid="Base_Column_List" /> FROM users WHERE id = #{id} </select> 
		<insert id="insert" parameterType="com.xhld.insInsuranceservice.model.User" 
		> INSERT INTO users (userName,passWord,user_sex) VALUES (#{userName}, #{passWord}, 
		#{userSex}) </insert> <update id="update" parameterType="com.xhld.insInsuranceservice.model.User" 
		> UPDATE users SET <if test="userName != null">userName = #{userName},</if> 
		<if test="passWord != null">passWord = #{passWord},</if> nick_name = #{nickName} 
		WHERE id = #{id} </update> <delete id="delete" parameterType="java.lang.Long" 
		> DELETE FROM users WHERE id =#{id} </delete> -->
	<!-- <select id="findByUserName" parameterType="String" resultType="com.xhld.insInsuranceservice.model.SysUser"> 
		select u.* from sys_user u LEFT JOIN sys_role_user sru on u.id= sru.sys_user_id 
		LEFT JOIN sys_role r on sru.sys_role_id=r.id where username= #{username} 
		</select> <select id="findByAdminUserId" parameterType="java.lang.Long" resultType="com.xhld.insInsuranceservice.model.SysPermission"> 
		select p.* from sys_user u LEFT JOIN sys_role_user sru on u.id= sru.sys_user_id 
		LEFT JOIN sys_role r on sru.sys_role_id=r.id LEFT JOIN sys_permission_role 
		spr on spr.sys_role_id=r.id LEFT JOIN sys_permission p on p.id =spr.sys_permission_id 
		where u.id=#{userId} </select> -->
	<select id="findByUserName" parameterType="String" resultType="com.xhld.authenticationservice.model.entity.SysUser">
		select
		u.id,u.email,u.id_no,u.login_name,u.status,u.telephone_no,u.user_name,u.user_type
		from sys_user u
		where login_name= #{username}
	</select>
	<select id="getAuthInfo" parameterType="HashMap" resultType="com.xhld.authenticationservice.model.entity.SysUser">
		select
		u.id,u.email,u.id_no,u.login_name,u.status,u.telephone_no,u.user_name,u.user_type 
		from sys_user_auths sua
		left join sys_user u on u.id = sua.user_id
		where 1=1 
		<if test="proofType!=null and proofType!=''">
			and sua.proof_type = #{proofType}
	    </if>
	    <if test="proofName!=null and proofName!='null' and proofName!=''">
			and sua.proof_name = #{proofName}
	    </if>
	    <if test="proofValue!=null and proofValue!='null' and proofValue!=''">
			and sua.proof_value = #{proofValue}
	    </if>
	</select>
</mapper>