<div class="wrapper">
	<div class="drop">
		<div class="login">
			<!--<div class="top">
				<img src="./img/logo_1.png" />
			</div>-->
			<h2>不良事件管理系统</h2>
			<form class="form">
				<div>
					<span>用户名</span>:
					<input name="userCode" type="text" class="form-control" ng-model="userCode " placeholder="user name" />
				</div>
				<div>
					<span>密码</span>:
					<input name="userCode" type="password" class="form-control" ng-model="passWord " placeholder="password" />
				</div>
				<div class="btn_box">
					<button ng-click="login()">登录</button>
					<button type="button">取消</button>
					<button ng-click="register()">注册</button>
				</div>
			</form>

		</div>
	</div>
</div>