<div class="main">
	<header ng-class = "{'header_bg1':bg_1,'header_bg2':bg_2,'header_bg3':bg_3}">
		<div class="logoBox">
			<!--<img src="./img/logo.png" />-->
			<h2>不良事件管理系统</h2>
		</div>
		<ul style="float: left; margin-left: 400px; line-height: 60px; cursor: pointer;">
			<li style="float: left; padding: 0 20px;" ng-click = "tag_bg(1)">风格1</li>
			<li style="float: left; padding: 0 20px;" ng-click = "tag_bg(2)">风格2</li>
			<li style="float: left; padding: 0 20px;" ng-click = "tag_bg(3)">风格3</li>
		</ul>
		<div class="user">
			<div ng-mouseenter="quick_nav = true" ng-mouseleave="quick_nav = false">
				<i><img src="./img/head.png" /></i>
				<span>{{userName}}</span>
				<!---------------快捷导航---------------->
				<ul class="nav_li" ng-show="quick_nav">
					<li ng-click="quickNav(i,$index,$event)" ng-mouseenter="img_onoff = 1" ng-mouseleave="img_onoff = 2">
						<b>
 							<img ng-if = "img_onoff == 2" src="./img/revised_1.png"/>
 							<img ng-if = "img_onoff == 1" src="./img/revised.png"/>
 						</b>
						<span>修改</span>
					</li>
					<li ng-click="quit()" ng-mouseenter="img_onoff_1 = 2" ng-mouseleave="img_onoff_1 = 1">
						<b>
 							<img ng-if = "img_onoff_1 == 1" src="./img/leave.png"/>
 							<img ng-if = "img_onoff_1 == 2" src="./img/leave_1.png"/>
 						</b>
						<span>退出</span>

					</li>
				</ul>
			</div>
			<div>
				<i><img src="./img/title.png" /></i>
				<span>{{position}}</span>
			</div>
		</div>
	</header>
	<section>
		<!---------------主页左侧导航部分---------------->
		<aside>
			<!-- Contenedor -->
			<ul id="accordion" class="accordion">
				<li>
					<div class="link"><i class="fa fa-paint-brush"></i>BS不良事件临床科室管理<i class="fa fa-chevron-down"></i></div>
					<ul class="submenu">
						<li ng-repeat = "i in nav">
							<a ng-href = "{{i.pageUrl}}">{{i.name}}</a>
						</li>
					</ul>
				</li>
			</ul>
			<div class="tip" ng-class = "{'tip_1':tip_1,'tip_2':tip_2,'tip_3':tip_3}"></div>
		</aside>
		<!---------------路由切换区域---------------->
		<article>
			<ui-view>

			</ui-view>
		</article>
	</section>
</div>