
.details{
	padding:40px;
	width: calc(100% - 80px);
	width: -moz-calc(100% - 80px);
	width: -webkit-calc(100% - 80px);
	height: calc(100% - 80px);
	height: -moz-calc(100% - 80px);
	width: -webkit-calc(100% - 80px);
	position: relative;
	background: #fff;
	overflow-y:auto ;
}
.details button{
	width: 34px;
	height: 34px;
	border: 0;
	background: url(../img/close.png) no-repeat center center;
	position: absolute;
	right: 22px;
	top: 20px;
	cursor: pointer;
}
.details button:hover{
	background: url(../img/close_red.png) no-repeat center center;
}
.title{
	width: 100%;
	height: 40px;
	border-bottom:1px solid #F5F5F5;
	margin: 9px 0 20px;
}
.title h2{
	display: inline-block;
	font-size: 18px;
	color: #666666;
	line-height: 38px;
	font-weight: 500;
	border-bottom: 3px solid #1684D6;
}
.details table{
	width: 100%;
	border: 1px solid #F4F4F4;
	border-collapse: collapse;
}
.details table *{
	height: 54px;
}
.details table th{
	width: 148px;
	background: rgba(23,132,214,0.04);
	color: #666666;
	font-weight: 400;
}
.details table td{
	width: 205px;
	padding: 0 5px;
	text-align: center;
}
