/*-------------分页-----------------*/
.pag_box {
	width: 100%;
	height: 34px;
	text-align: center;
	position: fixed;
	bottom: 50px;
	overflow: hidden;
}

.pag {
	display: inline-block;
	width: 440px;
	height: 30px;
	position: absolute;
	left: 100px;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.pag li {
	padding:0 8px;
	float: left;
	margin-right: 10px;
	background: #fff;
	text-align: center;
	height: 100%;
	line-height: 30px;
	font-size: 16px;
	color: #333;
	cursor: pointer;
	border-radius: 2px;
	border: 1px solid #1784D6;
}
.pag li:nth-child(2),.pag li:nth-child(4){
	width: 30px;
	height: 30px;
	padding: 0;
	background: url(../img/pre.png) no-repeat center center;
}
.pag li:nth-child(4){
	background: url(../img/next.png) no-repeat center center;
}
.pag li:nth-child(3){
	width: 30px;
	height: 30px;
	padding: 0;
	background: #1784D6;
	color: #FFFFFF;
}
.pag li:last-child{
	border: 0;
}
.pag li i{
	margin: 0 10px;
}
.pag li span,.pag li i{
	color: #666666;
}
.pag li:last-child {
	width: auto;
	background: none;
}

.pagIctive {
	background: #1684D6!important;
	color: #fff!important;
}
/*-------------弹出框-----------------*/
.backdrop{
	width: 100%;
	height: 100%;
	background: rgba(200,200,200,0.6);
	position: absolute;
	left: 0;top: 0;
	z-index: 1000;
}
.close{
	width: 34px;
	height: 34px;
	position: absolute; 
	right: 30px;
	top: 8px;
	background: url(../img/close_1.png) no-repeat center center;
	background-size:cover ;
}
.close:hover{
	background: url(../img/close_red_1.png) no-repeat center center;
}
.select{
	width: 50%;
	height: 300px;
	background: #FFFFFF;
	position: absolute;
	left: 0;right: 0;
	top: 0;bottom: 0;
	margin: auto;
}
.backdrop h3{
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #FFFFFF;
	font-size: 22px;
	font-weight: 500;
}
.select ul{
	width: 100%;
}
.select ul li{
	width: 19%;
	height: 60px;
	background: #17C0D6;
	float: left;
	margin:4% 3%;
	text-align: center;
	color: #FFFFFF;
	line-height: 60px;
	cursor: pointer;
	border-radius: 10px;
}
.select ul li:hover{
	background: #0099FF;
	font-size: 20px;
}
.reg{
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	padding-top:2px ;
}
.data_map{
	padding: 20px;
	height: 85%;
	overflow: hidden;
	overflow-y: scroll;
}
.data_map ul{
	padding: 10px;
	border: 1px solid #F5F5F5;
	margin-bottom: 20px;
}
.data_map button{
	display: block;
	width: 100px;
	height: 50px;
	background: #17C0D6;
	border: 0;
	border-radius: 5px;
	font-size: 20px;
	color: #FFFFFF;
	margin: 10px auto;
}
.data_map ul li{
	width: 100%;
	height: 65px;
}
.data_row{
	width: 25%;
	height: 100%;
	float: left;
	text-align: center;
}
.data_row label{
	display:block;
	width: 80%;
	text-align: left;
	margin: 0 auto;
	color: #666666;
	font-weight: 500;
}
.data_row input,.data_row select{
	width: 80%;
	height: 30px;
	padding: 0 10px;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
}
.data_row select{
	width: 86%;
}
.data_map .tex{
	width: 100%;
	height: 105px;
}
.data_map .tex div{
	width: 100%;
	height: 100px;
	text-align: left;
}
.data_map .tex div textarea{
	width: 80%;
	height: 70px;
	margin-left: 34px;
}
.data_map .tex div label{
	width: 95%;
}
input[type=file]{
	margin: 10px 35px;
}
/*-------------表单公共头部-----------------*/
.data_title {
	height: 26px;
	padding-left: 10px;
	line-height: 27px;
	font-size: 18px;
	color: #666666;
	border-bottom: 1px solid #F4F4F4;
	position: relative;
	margin-bottom: 15px;
}

.data_title span {
	display: inline-block;
	height: 16px;
	width: 3px;
	background: #1684D6;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
table td label {
	display: block;
	width: 100%;
	height: 100%;
	border: 0!important;
	cursor: pointer;
	margin: 0;
	padding: 0;
	position: relative;
}
/*---------日期---------------*/
.screen_box button{
	width: 100px;
	height: 36px;
	background: #01B374;
	opacity: 0.8;
	border: 0;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
}
.requirement{
	width: 30%;
	float: left;
	line-height: 40px;
	vertical-align: middle;
}
.requirement label{
	display: inline-block;
}
.requirement input{
	height: 36px;
	width: 60%;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	padding-left: 10px;
	background: #FFFFFF;
	cursor: pointer;
}
.requirement .wicon{
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAQCAYAAADj5tSrAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNi8xNS8xNGnF/oAAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAoElEQVQ4jWPceOnNfwYqAz9dYRQ+E7UtwAaGjyUsDAyYYUgJ2HT5LXZLcEmSCnA6duOlN///////H0bDALl8dPH/////Z8FuNW6Qtvw2nL3lyjsGBgYGhlmRqnj1kGwJuqHIlhJlCXq8EOITEsdqCXLEbbr8FisfFkTo+vBZRFZwERNEFFkCiw90nxJtCalxQmzegltCzVyP1RJq5HZ8AABuNZr0628DMwAAAABJRU5ErkJggg==");
	background-repeat: no-repeat;
	background-position: right 8px center;
}
