
.wrapper{
	width: 100%;
	height: 100%;
	background: url(../img/homeBackground002.png) no-repeat;
	background-size:cover ;
}
.drop{
	width: 100%;
	height: 100%;
	background: rgba(23,132,214,0.8);
	position: relative;
}
.login{
	width: 666px;
	height: 492px;	
	position: absolute;
	left: 0;right: 0;
	top: 0;bottom: 0;
	margin: auto;
	background: #F5F6FA;
}
.top{
	width: 100%;
	height: 101px;
	background: #434B6C;
	position: relative;
}
.top img{
	display: block;
	position: absolute;
	left: 0;right: 0;
	top: 0;bottom: 0;
	margin:auto;
}
.login h2{
	width: 100%;
	height: 131px;
	line-height: 131px;
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	color: #1684D6;
}
.form{
	width: 365px;
	height: 180px;
	margin: 0 auto;
}
.form div span{
	display: inline-block;
	width: 60px;
	height: 100%;
	font-size: 18px;
	line-height: 42px;
	color: #666666;
	font-family: PingFang Regular;
	text-align: justify;  
	text-align: end; /* 对于除了IE之外的浏览器用尾对齐覆盖之前的两端对齐方式 */ 
	text-align-last: justify; 
	text-justify: distribute;
}
.form div input{
	display: inline-block;
	width: 260px;
	height: 40px;
	padding: 0 10px;
	margin: 0 0 19px 10px;
}
.wrapper .btn_box{
	width: 100%;
	height: 42px;
	margin-top: 20px;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	padding: 0;
}
.wrapper .btn_box button{
	width: 155px;
	height: 100%;
	font-size: 18px;
	background: #1684D6;
	color: #fff;
	border-radius: 4px;
	border: 0;
}
.wrapper .btn_box button:last-child{
	background: #17C0D6;
}


