
.main{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
header{
	width: 100%;
	height: 65px;
	background: #fff;
	/*background: rgba(23,132,214,0.5);*/	
    color: #fff;
	color: #fff;
	position: relative;
	z-index: 1001;		
}
.header_bg1{
	background: rgba(68,161,200,1);
}
.header_bg2{
	background: rgba(199,57,41,1);
}
.header_bg3{
	background: rgba(139,178,54,1);
}
.logoBox{
	height: 50px;			
	position: absolute;
	left: 12px;
	top: 0;bottom: 0;
	margin: auto;
}
.logoBox img{
	float: left;
	width: 200px;
	height: 100%;
}
.logoBox h2{
	float: left;
	color: #fff;
	line-height: 50px;
	margin-left: 10px;
	font-size: 24px;
	font-weight: 500;
}
header .user{
	float: right;
	width: 370px;
	height: 100%;
}
header .user div{
	width: 45%;
	height: 100%;
	float: left;
	display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	position: relative;
}
header .user div:first-child{
	margin-right: 10px;
	background: url(../img/down.png) no-repeat right center;
	cursor: pointer;
}
header .user div i{
	float: left;	
	width: 28px;
	height: 28px;
	margin-top:18px ;
}

header .user div i img{
	display: block;
	width: 100%;
	height: 100%;
}
.user span{
	float: left;
	width: 125px;
	line-height: 65px;
	text-align: center;
	font-size: 16px;
	color: #fff;
}
/*--------------头部导航的提示标签样式--------------*/
.spanTop{
	width: 100%;
	height: 0.5vh;
	background: #ff5460;
	position: absolute;
	top: 0;left: 0;	
}
/*--------------头部导航里边的二级菜单样式--------------*/
.nav_li{
	width: 122px;
	background: #fff;
	color: #666666;
	position: absolute;
	left:-25px;right:0;
	top:65px;
	margin: auto;
}
/*--------------头部快捷导航里边的二级菜单下的li样式--------------*/
.nav_li li{	
	height: 38px;
	line-height: 38px;
	text-align: center;
	cursor: pointer;
	color: #666666;
}
.nav_li li b{
	float: left;
	width: 32px;
	height: 32px;
	margin-top: 5px;
	margin-left: 22px;
}
.nav_li li span{
	width: 58px;
	color: #666666;
	height: 100%;
	line-height: 38px;
}
.nav_li li:hover{
	background: #1684D6;
}
.nav_li li:hover span{
	color: #fff;
}
section{
	width: 100%;
	height: -moz-calc(100% - 65px);
	height: -webkit-calc(100% - 65px);
	height: calc(100% - 65px);
	position: relative;
}

#info {
	position: absolute;
	width: 100%;
	color: #ffffff;
	padding: 5px;
	font-family: Monospace;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	z-index: 1;
}

#menu {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

/*--------------数据主页--------------*/
.map_box{
	width: 100%;
	height: 100%;
}
/*--------------主页左侧导航--------------*/
aside{
	width: 265px;
	height: 100%;
	position: absolute;
	left: -268px;
	top: 0;
	z-index: 999;
	float: left;
	background: #485173;
	color: #FFFFFF;
	padding: 0 2px;
}
.accordion-toggle{
	color: #006DCC;
}
.tip{
	width: 30px;
	height: 100px;
	position: absolute;
	right: -30px;
	top: 30px;
	background-size: cover;
	cursor: pointer;
}
.tip_1{
	background: url(../img/menu_1.png) no-repeat center center;
}
.tip_2{
	background: url(../img/menu_2.png) no-repeat center center;
}
.tip_3{
	background: url(../img/menu_3.png) no-repeat center center;
}
aside:hover{
	left: 0;
	animation: menu 0.5s 1;
}
aside:hover .tip{
	left: -100px;
}
@keyframes menu{
	from{left: -264px;}
	to{left: 0;}
}
@-moz-keyframes menu{
	from{left: -264px;}
	to{left: 0;}
}
@-ms-keyframes menu{
	from{left: -264px;}
	to{left: 0;}
}
@-webkit-keyframes menu{
	from{left: -264px;}
	to{left: 0;}
}
/*aside ul li{
	line-height: 46px;
	border-bottom: 1px solid #2A3565;
	font-size: 16px;
	cursor: pointer;
	position: relative;
}
aside ul li:hover{
	background: #1784D6;	
}
aside ul li a{
	color: #fff;
	text-decoration: none;
}
aside ul li a:hover{
	text-decoration: none;
	
}
aside ul li a{
	display: block;
	padding-left: 52px;
	height: 100%;
}
aside ul li:first-child a{
	background: url(../img/pic_1.png) no-repeat 21px center;
}
aside ul li:nth-child(2) a{
	background: url(../img/pic_2.png) no-repeat 21px center;
}
aside ul li:nth-child(3) a{
	background: url(../img/pic_3.png) no-repeat 21px center;
}
aside ul li:nth-child(4) a{
	background: url(../img/pic_4.png) no-repeat 21px center;
}
aside ul li:nth-child(5) a{
	background: url(../img/pic_5.png) no-repeat 21px center;
}
aside ul li:nth-child(6) a{
	background: url(../img/pic_6.png) no-repeat 21px center;
}
aside ul li:nth-child(7) a{
	background: url(../img/pic_7.png) no-repeat 21px center;
}
aside ul li:nth-child(8) a{ 
	background: url(../img/pic_8.png) no-repeat 21px center;
}
aside ul li:nth-child(9) a{
	background: url(../img/pic_9.png) no-repeat 21px center;
}
aside ul li:nth-child(10) a{
	background: url(../img/pic_10.png) no-repeat 21px center;
}*/


/*--------------导航左边的提示标签--------------*/
.spanLeft{
	width: 3px;
	height: 100%;
	background: #1684D6;
	position: absolute;
	left: 0;top: 0;
}
/*--------------主页右侧内容部分--------------*/
article{
	width: 100%;
	height: 100%;	
	background: #F5F6FA;	
}
/*-----------------点击列表高亮样式--------------------*/
.selected {
	background-color: rgba(23,132,214,0.5);
    color: #fff;
}
.liActive{
	background: #ff5460;
	color: #fff!important;
}


/** =======================
 * Contenedor Principal
 ===========================*/
/*h1 {
 	color: #FFF;
 	font-size: 24px;
 	font-weight: 400;
 	text-align: center;
 	margin-top: 80px;
 }

h1 a {
 	color: #c12c42;
 	font-size: 16px;
 }*/

 .accordion {
 	width: 100%;
 	/*max-width: 360px;*/
 	margin: 30px auto 20px;
 	background: #FFF;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #4D4D4D;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #b63b4d;
}

.accordion li.open i {
	color: #b63b4d;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: #444359;
 	font-size: 14px;
 }

 .submenu li {
 	border-bottom: 1px solid #4b4a5e;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #b63b4d;
 	color: #FFF;
 }