html,
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	font: 16px"微软雅黑", "Arial Narrow", HELVETICA;
	background: #fff;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

input,
textarea,
button,
a {
	outline: 0;
	text-decoration: none;
}
/*-------去掉谷歌浏览器里边input默认的黄色背景----------*/
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	border: 1px solid #CCC!important;
}
*{
	-webkit-box-sizing: content-box;
}
a img,
fieldset {
	border: 0;
}

/*a{color:#2d374b;text-decoration:none}*/

em {
	font-style: normal
}

li {
	list-style: none
}

img {
	border: 0;
}

table {
	border-collapse: collapse;
}

p {
	word-wrap: break-word
}

html {
	width: 100%;
	height: 100%;
	-ms-text-size-adjust: 100%;
}
.mdis_map {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

input:focus {
	border: 1px solid #0099FF;
}
